<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <form>
        <input type="text" name="drink_name"><br>
        <input type="text" name="ingredient1">
        <input type="text" name="ingredient2">
        <input type="text" name="ingredient3">
        <input type="text" name="ingredient4">
        <button type="submit" class="sub">Mix</button>
    </form>
    <script>

        $(".sub").click( function (e) {
            e.preventDefault();
            $.ajax({
                method: 'POST',
                url: './create',
                data: $('form').serialize()
            }).done( function (result) {
                console.log(result);
            });
        })

    
    </script>
</body>
</html>