<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>drinkListDisplay</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Animated-Scrolled-Down-Heading.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Central-Align-Logo-Header-With-Nav.css">
    <link rel="stylesheet" href="assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="container-fluid main-header-text">
        <div class="top-header-container">
            <div class="header-cell">
                <h1 data-aos="fade-up" data-aos-duration="1900" data-aos-offset="50" data-aos-once="true" id="mix" style="font-family:'Playfair Display', serif;">Lets get mixing!</h1></div>
        </div>
        <nav class="navbar navbar-default nav-main-wrapper">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand visible-xs-block navbar-link" href="#">MENU </a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="active" role="presentation"><a href="/home">Home </a></li>
                        <li role="presentation"><a href="/find">Drinks</a></li>
                        <li role="presentation"><a href="/getmixing">Get Mixing</a></li>
                        <li role="presentation"><a href="/add">Add</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="login-clean black">
        <form method="post" class="ingre">
            <div class="illustration"><i class="fa fa-glass"></i></div>
            <div id="ingredientsDiv"></div>
            <div class="form-group">
                <button id="getIngredients" class="btn btn-primary btn-block" type="submit">More Ingredients</button>
                <button id="search" class="btn btn-primary btn-block" type="submit">Search </button>
            </div>
        </form>
        <div id="centerCol"></div>
    </div>

    <div class="article-list black">
        <div class="container black">
            <div class="intro">
                <h1 class="text-center makeBig" data-aos="fade-up" data-aos-duration="1400" data-aos-once="true">Be adventurous</h1>
                <p class="lead text-center words">Here are a couple of ideas below</p>
            </div>
            <div class="row articles">
                <div class="col-md-4 col-sm-6 item" data-aos="fade-left" data-aos-duration="1400" data-aos-once="true">
                    <a href="#"><img class="img-responsive" src="assets/img/getMixing1.jpg"></a>
                    <h3 class="words">House parties</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                    <a href="#" class="action"></a>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <a href="#"><img class="img-responsive" src="assets/img/getMixing2.jpg"></a>
                    <h3 class="words"> Formal Event</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                    <a href="#" class="action"></a>
                </div>
                <div class="col-md-4 col-sm-6 item" data-aos="fade-right" data-aos-duration="1400" data-aos-once="true">
                    <a href="#"><img class="img-responsive" src="assets/img/getMixing3.jpg" id="thirdImage"></a>
                    <h3 class="words">Girls Night Out</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                    <a href="#" class="action"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-md-offset-1 col-sm-4 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-4 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Legacy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">Company Name © 2016</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="assets/js/Animated-Scrolled-Down-Heading.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script>
        $(document).ready(function () {

            $('#getIngredients').on('click', function (event) {
                event.preventDefault();

                var moreIngredients =
                    '<input type="text" name="ingredients" value="" placeholder="Add an ingredient" class="form-control"><br>';

                $('#ingredientsDiv').append(moreIngredients);

            });

            $('#search').on('click', function (event) {
                event.preventDefault();

                $.ajax({
                    method: 'POST',
                    url: './findDrink',
                    data: $('.ingre').serialize()
                }).done(function (result) {
                    $('#ingredientsDiv').empty();
                    $('#centerCol').html('<div id="ingreDiv" class="col-md-offset-4 col-md-6">');
                    result.forEach(function(element, i) {
                            $('#ingreDiv').append('<h1 style="color: white;">'+ element.name + '</h1>' + '<br><div id="drinkIngredients'+[i]+'"><div>');

                            $('#drinkIngredients'+[i]).append('<h3>Ingredients</3><br><h4 style="color: white;">'+ element.ingredients + '</h4>' + '<br>');
                            $('#drinkIngredients'+[i]).append('<img src="'+ element.url + '"><br>');
                        }); 
                })

            });
        });
    </script>
</body>

</html>