<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>drinkListDisplay</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Animated-Scrolled-Down-Heading.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Central-Align-Logo-Header-With-Nav.css">
    <link rel="stylesheet" href="assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 data-aos="fade-up" data-aos-duration="1900" data-aos-offset="50" data-aos-once="true" id="mix" style="font-family:'Playfair Display', serif; color: black">Learn the Basics</h1></div>
        </div>

        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                <div class="collapse navbar-collapse" >
                    <ul class="nav">
                        <li><a class="navbar-brand" href="/home">Home </a></li>
                        <li><a class="navbar-brand" href="/find">Drinks</a></li>
                        <li><a class="navbar-brand" href="/getmixing">Basics</a></li>
                        <li><a class="navbar-brand" href="/add">Add</a></li>
                    </ul>
                </div>
            </div>
        </nav>
<br>

    <div class="article-list black">
        <div class="container black">
            <div class="intro">
                <h1 class="text-center makeBig" data-aos="fade-up" data-aos-duration="1400" data-aos-once="true">The Basics</h1>
            </div>
            <div class="row articles">
                <div class="col-md-4 col-sm-6 item" data-aos="fade-left" data-aos-duration="1400" data-aos-once="true">
                    <a href="#"><img class="img-responsive" src="assets/img/getMixing1.jpg"></a>
                    <a class="words" href="/glassware"><h3>Types of glassware</h3></a>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                    <a href="#" class="action"></a>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <a href="#"><img class="img-responsive" src="assets/img/getMixing2.jpg"></a>
                    <h3 class="words2">Types of bar tools</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                    <a href="#" class="action"></a>
                </div>
                <div class="col-md-4 col-sm-6 item" data-aos="fade-right" data-aos-duration="1400" data-aos-once="true">
                    <a href="#"><img class="img-responsive" src="assets/img/getMixing3.jpg" id="thirdImage"></a>
                    <h3 class="words3">Different techniques</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                    <a href="#" class="action"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-md-offset-1 col-sm-4 item">
                        <h3 class="footer-h3">Basics</h3>
                        <ul>
                            <li><a href="/glassware">Glassware</a></li>
                            <li><a href="/tools">Tools</a></li>
                            <li><a href="/technique">Techniques</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a>
                        <a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">Company Name © 2016</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="assets/js/Animated-Scrolled-Down-Heading.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
<!--     <script>
        $(document).ready(function () {

            $('#getIngredients').on('click', function (event) {
                event.preventDefault();

                var moreIngredients =
                    '<input type="text" name="ingredients" value="" placeholder="Add an ingredient" class="form-control"><br>';

                $('#ingredientsDiv').append(moreIngredients);

            });

            $('#search').on('click', function (event) {
                event.preventDefault();

                $.ajax({
                    method: 'POST',
                    url: './findDrink',
                    data: $('.ingre').serialize()
                }).done(function (result) {
                    $('#ingredientsDiv').empty();
                    $('#centerCol').html('<div id="ingreDiv" class="col-md-offset-4 col-md-6">');
                    result.forEach(function(element, i) {
                            $('#ingreDiv').append('<h1 style="color: white;">'+ element.name + '</h1>' + '<br><div id="drinkIngredients'+[i]+'"><div>');

                            $('#drinkIngredients'+[i]).append('<h3>Ingredients</3><br><h4 style="color: white;">'+ element.ingredients + '</h4>' + '<br>');
                            $('#drinkIngredients'+[i]).append('<img src="'+ element.url + '"><br>');
                        });
                })

            });
        });
    </script> -->
</body>

</html>