<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <title>Glassware</title>
    <style>
.card-group{
    display: flex;
}
.card {
    margin: 20px;
}
#navcol-1 {
  background-color: #e06831;
  font-size: 16px;
  text-align: center;

}
.nav.navbar-nav li a {
    color: black;

}

h1 {
    padding-bottom: 40px;
}

</style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="active" role="presentation"><a href="/home">Home </a></li>
                        <li role="presentation"><a href="/find">Drinks</a></li>
                        <li role="presentation"><a href="/getmixing">Get Mixing</a></li>
                        <li role="presentation"><a href="/add">Add</a></li>
                    </ul>
                </div>
</nav>


<div class = "container">
                <div class="intro">
                <h1 class="text-center">Glassware</h2></div>
<div class="card-group">
  <div class="card" >
            <img class="card-img-top" src="../../assets/img/glasses/beerglass.png" alt="beerglass">
    <div class="card-body">
                <h4 class="card-title">Pilsner Glass</h4>
      <p class="card-text">The pilsner glass is descended from the old beer flute, as used in the 1600s and 1700s. Tall and narrow, it displays the beer’s carbonation to excellent effect and allows for a good head.</p>
    </div>
  </div>
  <div class="card">
            <img class="card-img-top" src="../../assets/img/glasses/beermug.png" alt="beermug">
    <div class="card-body">
                <h4 class="card-title">Beer Mug</h4>
      <p class="card-text">The beer mug is the modern descendent of the beer tankard dating back to the Middle Ages. Originally, tankards were made from clay, pewter, silver, wood or leather, and tended to be very large. </p>
    </div>
  </div>
  <div class="card">
            <img class="card-img-top" src="../../assets/img/glasses/brandy.png" alt="brandyglass">
    <div class="card-body">
                <h4 class="card-title">Brandy Snifter</h4>
      <p class="card-text">In mid-19th century American slang, a “snifter” was a slug of straight spirits. The glass is built wide, squat and short-stemmed, so that it will force the spirit to release the most aroma.</p>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card" >
            <img class="card-img-top" src="../../assets/img/glasses/champagne.png" alt="champagne">
    <div class="card-body">
                <h4 class="card-title">Champagne Coupe</h4>
      <p class="card-text">The champagne coupe is older than the flute and dates back to the 1600s. Its wide, shallow bowl is excellent at keeping liquid from sloshing out.</p>
    </div>
  </div>
  <div class="card">
            <img class="card-img-top" src="../../assets/img/glasses/cocktail.png" alt="cocktail">
    <div class="card-body">
                <h4 class="card-title">Cocktail Glass</h4>
      <p class="card-text">This iconic glass with its V-shape and long stem didn’t begin its career as a Cocktail glass at all, but rather for wine, punches, and later champagne. </p>
    </div>
  </div>
  <div class="card">
            <img class="card-img-top" src="../../assets/img/glasses/collins.png" alt="collinsglass">
    <div class="card-body">
                <h4 class="card-title">Collins Glass</h4>
      <p class="card-text">Tall, narrow and straight-sided, the Collins glass is nothing more than a large Fizz or Highball glass- usually holds 14 to 16 ounces.</p>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card" >
            <img class="card-img-top" src="../../assets/img/glasses/flute.png" alt="flute">
    <div class="card-body">
                <h4 class="card-title">Champagne Flute</h4>
      <p class="card-text">The champagne flute began in Venice, at the end of the 1500s. A tall, slender, stemmed 6- to 8-ounce glass with gently incurving sides the champagne flute is excellent at preserving and displaying the wine’s bubbles.</p>
    </div>
  </div>
  <div class="card">
            <img class="card-img-top" src="../../assets/img/glasses/highball.png" alt="highball">
    <div class="card-body">
                <h4 class="card-title">Highball</h4>
      <p class="card-text">Americans started drinking Scotch whisky with soda and ice in the early 1890s, they didn’t have a glass for it. Bartenders reached for a soda glass. Tall and narrow, it was perfect for a jigger of booze, ice, and a squirt of soda.</p>
    </div>
  </div>
  <div class="card">
            <img class="card-img-top" src="../../assets/img/glasses/hurricane.png" alt=hurricane>
    <div class="card-body">
                <h4 class="card-title">Hurricane Glass</h4>
      <p class="card-text">The Hurricane glass derives its distinctive shape from the hurricane lantern, known to campers everywhere. Take the glass chimney from the lantern, put a round bottom and a stem on it and flare out the rim a little and fill it.</p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card" >
            <img class="card-img-top" src="../../assets/img/glasses/irishcoffee.png" alt="irishcoffee">
    <div class="card-body">
                <h4 class="card-title">Irish Coffee Glass</h4>
      <p class="card-text">Irish Coffee was introduced in the 1950s. It has its own dedicated glass- a version of the Sour glass with a little extra flare at the rim and a ring-handle molded on the side so you can hold it without burning your fingers.</p>
    </div>
  </div>
  <div class="card">
            <img class="card-img-top" src="../../assets/img/glasses/oldfashion.png" alt="oldfasion">
    <div class="card-body">
                <h4 class="card-title">Old Fashioned</h4>
      <p class="card-text">The classic Old-Fashioned glass is the modern descendant of the “small bar glass.” Heavy-bottomed and slant-sided, it held 5 to 6 ounces and was used both for mixing and for serving cocktails and other short drinks.</p>
    </div>
  </div>
  <div class="card">
            <img class="card-img-top" src="../../assets/img/glasses/pony.png" alt="cordialglass">
    <div class="card-body">
                <h4 class="card-title">Cordial or Pony glass</h4>
      <p class="card-text">The cordial glass dates back to the very beginning of the 19th century when it became customary in gentle company to follow a meal with a few sips of curaçao, maraschino, crème de noyeau or some other rich, sweet liqueur..</p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card" >
            <img class="card-img-top" src="../../assets/img/glasses/redwine.png" alt="red wine glass">
    <div class="card-body">
                <h4 class="card-title">Wine Glass</h4>
      <p class="card-text">In the late 19th century, the French began migrating to “balloon” or “tulip” glasses— broad in the belly and narrow in the neck. This freed the aromas of the wine and concentrated them so that they could be appreciated. .</p>
    </div>
  </div>
  <div class="card">
            <img class="card-img-top" src="../../assets/img/glasses/sherry.png" alt="sherry">
    <div class="card-body">
                <h4 class="card-title">Sherry Glass</h4>
      <p class="card-text">A sherry glass is a type of drinkware generally used for serving aromatic alcoholic beverages, such as sherry, port, aperitifs, and liqueurs, and layered shooters. An ISO-standard sized sherry glass is 120 millilitres.</p>
    </div>
  </div>
  <div class="card">
            <img class="card-img-top" src="../../assets/img/glasses/shot.png" alt="shotglass">
    <div class="card-body">
                <h4 class="card-title">Shot glass</h4>
      <p class="card-text">A small glass designed to hold or measure alcoholic spirits or liquor, which is either drunk straight from the glass ("a shot") or poured into a cocktail. Alcohol served in a shot glass, typically consumed quickly, is also known as a "shooter."</p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card" >
            <img class="card-img-top" src="../../assets/img/glasses/sour.png" alt="sourglass">
    <div class="card-body">
                <h4 class="card-title">Sour Glass</h4>
      <p class="card-text">Sours begin with a jigger of booze and added citrus juice and a sweetener, and often a red wine float - and  it doesn't fit into the standard Cocktail glass. Enter the Sour glass, a narrowish, 5- or 6-ounce glass with slanted sides. </p>
    </div>
  </div>
  <div class="card">
            <img class="card-img-top" src="../../assets/img/glasses/stein.png" alt="stein">
    <div class="card-body">
                <h4 class="card-title">Stein</h4>
      <p class="card-text">A large mug used traditionally for beer. Steins may be made out of stoneware, pewter, porcelain, or even silver, wood or crystal glass; they may have open tops or hinged pewter lids with a thumb-lever.  </p>
    </div>
  </div>
  <div class="card">
            <img class="card-img-top" src="../../assets/img/glasses/stem.png" alt="stemglass">
    <div class="card-body">
                <h4 class="card-title">Stem Glass</h4>
      <p class="card-text">Stands on stems above a base. It is usually made from glass, but may be made from ceramics or metals. The stem allows the drinker to hold the glass without affecting the temperature of the drink. Usually used for wines.</p>
    </div>
  </div>
</div>
</div>
    <div class="footer-clean">
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-md-offset-1 col-sm-4 item">
              <h3 class="footer-h3">Basics</h3>
              <ul>
                <li><a href="/glassware">Glassware</a></li>
                <li><a href="/tools">Tools</a></li>
                <li><a href="/technique">Techniques</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-4 item">
              <h3 class="footer-h3">About</h3>
              <ul>
                <li><a href="#">Company</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Legacy</a></li>
              </ul>
            </div>
            <div class="col-md-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a>
              <a
                href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                <p class="copyright">Company Name © 2016</p>
            </div>
          </div>
        </div>
      </footer>
    </div>

</body>
</html>