<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroupPojectBeta</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3" style="font-family:'Playfair Display', serif;">The Barkeeper</h1>
    <p><strong>A cocktail recipe database.</strong></p>
  </div>
</div>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                <div class="collapse navbar-collapse" >
                    <ul class="nav">
                        <li><a class="navbar-brand" href="/home">Home </a></li>
                        <li><a class="navbar-brand" href="/find">Drinks</a></li>
                        <li><a class="navbar-brand" href="/getmixing">Basics</a></li>
                        <li><a class="navbar-brand" href="/add">Add</a></li>
                    </ul>
                </div>
            </div>
        </nav>
<br>
    <div class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">A cocktail is only as good as the worse ingredient.</h2></div>
            <div class="row" data-aos="fade-up" data-aos-duration="1600">
                <div class="col-md-4">
                    <div class="thumbnail"><img  class="img-responsive" src="assets/img/4a.jpg">
                        <div class="caption">
                            <a href="/find">
                                <h3 id="frontpg">Drink Recipes </h3></a>
                            <p id="frontpg">Find a drink recipe by liquor type,<br>recipe name, or ingredient.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="thumbnail"><img class="img-responsive" src="assets/img/4b.jpg">
                        <div class="caption">
                            <a href="/getmixing">
                                <h3 id="frontpg">The Basics</h3></a>
                            <p id="frontpg">Learn the tools and techniques you need to make that perfect drink.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail"><img class="img-responsive" src="assets/img/4d.jpg">
                        <div class="caption">
                            <a href="/add">
                                <h3 id="frontpg">Add </h3></a>
                            <p id="frontpg">Got a new delious drink you want to share?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-md-offset-1 col-sm-4 item">
                        <h3 class="footer-h3">Basics</h3>
                        <ul>
                            <li><a href="/glassware">Glassware</a></li>
                            <li><a href="/tools">Tools</a></li>
                            <li><a href="/technique">Techniques</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a>
                        <a
                            href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                            <p class="copyright">Company Name © 2016</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
</body>

</html>