html
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
   head
   body
      #container.col-md-3
      h1 Sorry you aren't 21, you little baby pug you.
      //- the pug image is hosted in the public folder
      //-its actually looks like public/pug.jpg
      #image.col-md-3
      img(src = "./assets/img/pug.jpg", alt = "Not-21")
      a(href='/home')
