<div id="notEaten" class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <h1>Eat these burger</h1>
        <ul>
          {{#each burgers}}
            {{#unless this.devoured}}
              <li>
                {{this.burger_name}}
                <form action="/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="eaten" value="1">
                  <button type="submit">Eat Time</button>
                </form>
              </li>
            {{/unless}}
          {{/each}}
        </ul> 
  </div>

<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <div id="eaten">
    <h2>Burgers Eaten</h2>
      <ul>
        {{#each burgers}}
          {{#if this.devoured}}
            <li>
              {{this.burger_name}} 
              {{> burger/delete}}
            </li>
          {{/if}}
        {{/each}}
      </ul>
  </div>  
</div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center">
    <h2>Add A Burger!</h2>
      <form class="create-update-form" action="/" method="POST">
        <div class="form-group">
          <label for="ca">Burger Name</label>
          <input type="text" id="ca" name="burgerName" placeholder="Burger Name">
          <input type="text" id="cu" name="CustomerName" placeholder="Customer Name" required>
        </div>
        <button type="submit">Add Burger</button>
      </form>      
  </div>
</div>


