<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="assets/css/Footer-Clean.css">
    <title>Tools</title>
    <style>
.card-group{
    display: flex;
}
.card {
    margin: 20px;
}
#navcol-1 {
  background-color: #e06831;
  font-size: 16px;

}
.nav.navbar-nav li a {
    color: black;
}

h1 {
    padding-bottom: 40px;
}

h2, h3{
   text-align: center;
}

</style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="active" role="presentation"><a href="/home">Home </a></li>
                        <li role="presentation"><a href="/find">Drinks</a></li>
                        <li role="presentation"><a href="/getmixing">Get Mixing</a></li>
                        <li role="presentation"><a href="/add">Add</a></li>
                    </ul>
                </div>
</nav>


<div class="container" id="main">
                <div class="intro">
                <h1 class="text-center">TOOLS</h1>
                <h3>The right tools make the job easier. For a home or professional bar, you'll need to have the following handy:</h3></div>
<br>

<h3>STANDARD BAR MEASUREMENTS (US FLUID OUNCES)</h3><br>
<p>1 pony = 1 ounce<br>
1 ounce = 3 centiliters<br>
1 jigger shot = 1 1/2 ounces<br>
1 mixing glass = 16 ounces<br>
1 splash = 1/2 teaspoon<br>
</p>

<h3>OTHER MEASUREMENTS</h3><br>
<p>1 dash = 6 drops<br>
12 dashes = 1/2 teaspoon<br>
1 teaspoon = 1/6 ounce<br>
2 teaspoons = 1/3 ounce<br>
1 tablespoon = 1/2 ounce<br>
2 tablespoons = 1 ounce<br>
1/4 cup = 2 ounces<br>
1/2 cup = 4 ounces<br>
1 cup or 1/2 pint = 8 ounces<br>
2 cups or 1 pint = 16 ounces<br>
4 cups, 2 pints, or 1 quart = 32 ounces<br>
</p>

<h3>BOTTLE SIZE MEASUREMENTS</h3>
<p>Split = 187 ml = 6.4 ounces<br>
Half-bottle = 375 ml = 12.7 ounces<br>
Fifth = 750 ml = 25.4 ounces<br>
Liter = 1000 ml = 33.8 ounces<br>
Magnum = 1.5 liters = 2 wine bottles<br>
Jeroboam = 3 liters = 4 wine bottles<br>
Rehoboam = 6 wine bottles<br>
Methuselah = 8 wine bottles<br>
Salmanazar = 12 wine bottles<br>
Balthazar = 16 wine bottles<br>
Nebuchadnezzar = 20 wine bottles<br>
Sovereign = 34 wine bottles<br>
</p>


<h2> EQUIPMENT</h2>

<br>
<h4>Electric Blender</h4>
<p>Absolutely necessary to make frozen drinks, puree fruit, and even crush ice for certain recipes. Choose a top-quality blender with a heavy base, as lightweight blenders tend to “walk” when blending thick mixtures.</p>
<br>
<h4>Cutting Board</h4>
<p>Either wood or plastic, it is used to cut fruit upon for garnishes.</p>
<br>
<h4>Paring Knife</h4>
<p>Small, sharp knife to prepare fruit for garnishes.</p>
<br>
<h4>Channel Tool</h4>
<p>Use this gadget to create relatively thin ribbons of citrus zest for twists.</p>
<br>
<h4>Microplane Grater</h4>
<p>Useful for zesting fruit or grating nutmeg.</p>
<br>
<h4>Bottle Opener</h4>
<p>Essential for opening bottles that aren’t twist-off.</p>
<br>
<h4>Church Key</h4>
<p>This metal tool is pointed at one end to punch holes in the tops of cans (these days most likely to be fruit juices), while the blunt end is used to open bottles.</p>
<br>
<h4>Corkscrew</h4>
<p>There are a myriad of styles from which to choose. Professionals use the “waiter’s corkscrew,” which looks like a penknife, the “Screwpull,” or the “rabbit corkscrew.” The “winged corkscrew,” found in most homes, is considered easiest to use but often destroys the cork.</p>
<br>
<h4>Citrus Reamer</h4>
<p>This tool for juicing fruit comes in two styles. The strainer bowl style has the pointed cone on top, or there is the wooden handle style with the cone attached, which must be used with a wire strainer to remove the seeds. However, if you plan to use a lot of fresh fruit juice (and nothing is better for your drinks than freshly squeezed lemons or limes), get an inexpensive electric juicer or a metal standing lever-type juicer to whip through mountains of citrus.</p>
<br>
<h4>Jigger</h4>
<p>Essential for precise measuring, it typically has two cone-shaped metal cups conjoined at the narrow ends. The best ones are marked to represent a quantity of fluid ounces (quarter, half, whole, etc.), fractionalized by lines etched in the metal.</p>
<p>While jiggers come in a variety of sizes, the most useful jigger has 1 1/2 ounces (1 jigger) and 1 ounce (1 pony). For smaller measurements in an unmarked jigger, just half-fill the larger cup for 3/4 ounce, and the smaller cup in the same way for 1/2 ounce. Glass jiggers, which usually hold 2 ounces, are clearly marked, but could break in a busy professional bar. For consistency’s sake, get out of the habit (if you have it) of free-pouring drinks, and take out the jigger every time you make a cocktail.</p>
<br>
<h4>Measuring Spoons</h4>
<p>A set of measuring spoons (in 1 tablespoon, 1 teaspoon, 1/2 teaspoon, and 1/4 teaspoon sizes) will be needed for smaller amounts of ingredients that are not measured by the fluid ounce. When measuring large amounts of liquids for punches or hot drinks, transparent liquid measuring cups in 1-cup and 2-cup capacities will come in handy.</p>
<br>
<h4>Ice Bucket with Scoop and Tongs</h4>
<p>A bar without ice is like a car without gas. Use the scoop—never the glass—to gather ice in a mixing glass or shaker and tongs to add single cubes to a prepared drink.</p>
<br>
<h4>Lewis Bag</h4>
<p>A heavy canvas bag with a mallet used to crush ice. Put ice cubes in the bag, close it, and pound away. It is low- tech, but it works.</p>
<br>
<h4>Wire Sieve</h4>
<p>Used in conjunction with a Hawthorne strainer to ensure that the solids are removed from shaken cocktails. The strainer should be fit over the glass without an immoderate amount of overhang.</p>
<br>
<h4>Miscellaneous Accoutrements</h4>
<p>Sipsticks or stirrers, straws, cocktail napkins, coasters, and cocktail picks.</p>

</div>
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-md-offset-1 col-sm-4 item">
                        <h3 class="footer-h3">Basics</h3>
                        <ul>
                            <li><a href="/glassware">Glassware</a></li>
                            <li><a href="/tools">Tools</a></li>
                            <li><a href="/technique">Techniques</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-4 item">
                        <h3 class="footer-h3">About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Legacy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a>
                        <a
                            href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                            <p class="copyright">Company Name © 2016</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>