body {
  background-color:rgba(4,0,0,0.66);
}

.jumbotron{
  min-height: 550px;
}

.caption {
  margin-top:-16px;
  font-size:20px;
}

.caption p {
  color:rgb(238,104,7);
}

.thumbnail {
  background-color:rgb(106,74,60);
}

h3 {
  text-align:center;
  color:orange;
}

a {
  padding-top:0px;
  margin-top:0px;
}

#navcol-1 a {
  font-size:17px;
  color:rgb(6,4,0);
}


#drink1 {
  background-image:url(../../assets/img/loft.jpg);
}

#navbarColor {
  background-color:rgb(223,105,26);

}

.threeImage {
  height:270px;
  width:316px;
}

.footer-dark {
  text-align:center;
  margin-top:0px;
  margin-bottom:-5px;
  padding-bottom:12px;
  height:200px;
}

#footerArea {
  margin-top:-26px;
  margin-bottom:0px;
}

.navbar-default {
  background-color:#df691a;
  border-color:#df691a;

}

/*getMixing Page*/
.white {
  color:rgba(0,0,0,0);
}

.black {
  background-color:black;
}

#mix {
  font-size:82px;
  color:white;
}

#centerCol {
  min-height:200px;
}

.words {
  color: rgb(223,105,26);
}

#thirdImage {
  max-height:212px;
}

.makeBig {
  font-size:67px;
  color: rgb(223,105,26);
}

#greeting {
  text-align:center;
  font-size:64px;
  color:white;
}